/node_modules
/allure-results
/obj
/docs/api
/tmp
./package-lock.json
*.log
*.map
*.d.ts
**/*.js
!src/test/**/*.js
/bin
/dist
.env
*.njsproj
.vscode
*.bak
*.cmd
*.tsbuildinfo
docker/mongodb_volume
docker/bpmn_server_volume
