body {
    padding: 10px;
    font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}


a {
    color: #00B7FF;
}
tr { vertical-align: top;}
#docs td { padding:3px !important;}
#docs { width: fit-content;}
th { text-align: center !important;}

tr.color-1 { background-color: #fff;}
tr.color-2 { background-color: #f4f4f5;}

.docs  { vertical-align: top ; border:0 !important; width: fit-content;}

#tasks td, th {
    padding: 1px 4px 1px 4px !important; 
  }
#instances td, th {
    padding: 1px 4px 1px 4px !important; 
  }
#tasks tr:nth-child(even) {
    background-color: #f4f4f5;
  }
#instances tr:nth-child(even) {
    background-color: #f4f4f5;
  }